.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: var(--color-links);
  margin-top: 12px;
  margin-bottom: 0;
}
