.footer {
  max-width: 92.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 92px;
  margin: 0 auto 24px;
}
@media screen and (max-width: 1120px) {
  .footer {
    max-width: 90.625%;
    transition: 0.5s;
  }
}
@media screen and (max-width: 920px) {
  .footer {
    max-width: 93.75%;
  }
}
@media screen and (max-width: 660px) {
  .footer {
    max-width: 90%;
    justify-content: space-between;
    padding-top: 64px;
  }
}
@media screen and (max-width: 540px) {
  .footer {
    max-width: 58.125%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
  }
}
